
<div class="container">
  <div class="row">

    <div class="col-sm profile-picture">
      <img src="assets/img/jhonatan-profile.jpg" alt="profile picture">
    </div>

    <div class="col-sm profile-description">
      <span>Frontend Developer</span>
      <h1>Jhonatan Costa</h1>
      <p>
        Frontend developer specialized in Angular, with over 7 years of experience in intuitive interfaces.
        Advanced English, more than 2 years working with international clients, and 4 years of courses at Wizard.
        Proficient in Scrum and Kanban, with a focus on collaboration and efficient deliveries. Experience in Angular,
        Node.js, React, Vue, Firebase, HTML, CSS, JavaScript, and TypeScript. Degree in Systems Analysis,
        postgraduate degree in Artificial Intelligence, and basic French.
      </p>
      <app-social-icons></app-social-icons>
    </div>


  </div>
</div>
