$primary-one: #d9e4ec;
$primary-two: #b7cfdc;
$primary-three: #6aabd2;
$primary-dark: #385e72;

$secondary-one: #ede7dc;
$secondary-two: #dcd2cc;
$secondary-three: #ccafa5;
$secondary-dark: #bdc3cb;

$dark: #4e4f50;
